#grad {
    background-image: linear-gradient(to right, lightblue , darkblue);
  }

#main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 16px;
    margin: 0 16px;
    height: 44vw;
}

#searchedCities {
    background-color: cornsilk;
    height: fit-content;
}

#details {
    display: flex;
    flex-direction: column;
    background-color:white;
}

#current {
    background-color: white;
    border: 3px solid black;
    height: 17vw;
    margin-bottom: 16px;
    margin-top: 16px;
}

#forecast {
    background-color: yellow;
    height: 17vw;
    margin-bottom: 1px;
}