#grad {
    background-image: linear-gradient(to right, lightblue , darkblue);
  }

#main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 16px;
    margin: 0 16px;
    height: 44vw;
}

#searchedCities {
    background-color: cornsilk;
    height: fit-content;
}

#details {
    display: flex;
    flex-direction: column;
    background-color:white;
}

#current {
    background-color: white;
    border: 3px solid black;
    height: 17vw;
    margin-bottom: 16px;
    margin-top: 16px;
}

#forecast {
    background-color: white;
    height: 17vw;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
}

#dayOne {
    background-color: rgb(34, 34, 87);
    border: 3px solid black;
    height: 12vw;
    width: 11vw;
}

#dayTwo {
    background-color: rgb(34, 34, 87);
    border: 3px solid black;
    height: 12vw;
    width: 11vw;

}

#dayThree {
    background-color: rgb(34, 34, 87);
    border: 3px solid black;
    height: 12vw;
    width: 11vw;

}

#dayFour {
    background-color: rgb(34, 34, 87);
    border: 3px solid black;
    height: 12vw;
    width: 11vw;

}

#dayFive {
    background-color: rgb(34, 34, 87);
    border: 3px solid black;
    height: 12vw;
    width: 11vw;

}
