/* Header Styles*/
#grad {
    background-image: linear-gradient(to right, lightblue , darkblue);
  }
/* Main Styles*/
#main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 16px;
    margin: 0 16px;
    height: 44vw;
}

/* Search Section*/
#searchedCities {
    display: flex;
    background-color: cornsilk;
    height: fit-content;
}

#searchForm {
    display: flex;
    flex-direction: column;
}

#seachTitle {
 font-size: 36px;
 font-weight: bold;   
}

#submit-button {
    width: 20vw;
}

.searched-cities {
    width: 20vw;
    margin-bottom: 16px;
    border-radius: 10px;
    background-color: lightgray;
}

#cityHolder {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 3px solid rgb(104, 104, 104);
}

/* Details Styles*/

#details {
    display: flex;
    flex-direction: column;
    background-color:white;
}

/* Current Section Styles*/

#current {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid black;
    height: 17vw;
    margin-bottom: 16px;
    margin-top: 16px;
}

#currentDate {
    font-size: 36px;
    font-weight: bolder;
}

/* Forescast Styles*/
#forecast {
    background-color: white;
    height: 17vw;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
}

#forecastTitle {
    background-color: white;
    margin-bottom: 16px;
}

#dayOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(51, 71, 90);
    border: 3px solid black;
    height: 12vw;
    width: 11vw;
    color: white;
}

#dayTwo {
    background-color: rgb(51, 71, 90);
    border: 3px solid black;
    height: 12vw;
    width: 11vw;

}

#dayThree {
    background-color: rgb(51, 71, 90);
    border: 3px solid black;
    height: 12vw;
    width: 11vw;

}

#dayFour {
    background-color: rgb(51, 71, 90);
    border: 3px solid black;
    height: 12vw;
    width: 11vw;

}

#dayFive {
    background-color: rgb(51, 71, 90);
    border: 3px solid black;
    height: 12vw;
    width: 11vw;

}

/* Forecast Details */

.forecastDate {
    font-size: 25px;
    font-style: bold;
}

.humidity {
    margin-bottom: 10px;
}